.audio {
  background-image: url($icon02);
  background-size: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
}

.audioPause {
  background-image: url($icon03);
  background-size: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
}
