$lightblue: #caf0f8;
$darkblue: #00a0c0;
$articlesblue: #90e1ef94;
$img01: '../img/potatoe.svg';
$img02: '../img/stuffed_potatoe.jpg';
$img03: '../img/bonfire_potatoe.jpg';
$img04: '../img/casserolle_potatoe.jpg ';
$icon01: '../img/potatoe_dark.svg';
$icon02: '../img/audio_on.svg';
$icon03: '../img/audio_off.svg';
